@{
	ViewData["Title"] = "Crear Producto";
}

@model Inventario.Models.Producto

<div class="container mt-5">
	<h1 class="mb-4">Crear nuevo Producto</h1>
</div>

<div class="card mb-4 mx-4">
	<div class="card-body">
		<form id="formularioOperacion" asp-action="Crear" method="post">
			<div>
				<label for="nombreProducto" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="nombreProducto" placeholder="Ingrese el nombre del producto" asp-for="Nombre"/>
			</div>
			<div>
				<label for="precioProducto" class="form-label">Precio</label>
				<input type="text" class="form-control" id="precioProducto" placeholder="Ingrese el precio del producto" asp-for="Precio" />
			</div>
			<div class="mb-3">
				<button class="btn btn-primary" id="crear">Crear Producto</button>
			</div>
		</form>
	</div>
</div>