@{
	ViewData["Title"] = "Productos";
}
@model IEnumerable<Inventario.Models.Producto>


<h1>Productos</h1>
<div class="mb-3">
    <a class="btn btn-primary nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Crear">Agregar Producto</a>
</div>
<table class="table">

    <thead>
        <tr>
            <td scope="Col">Id</td>
            <td scope="Col">Nombre</td>
            <td scope="Col">Precio</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var producto in Model)
        {
            <tr>
                <th scope="row">@producto.Id</th>
                <td>@producto.Nombre</td>
                <td>Q. @producto.Precio</td>
            </tr>
        }
    </tbody>
</table>
                                                                            