@{
    ViewData["Title"] = "El Dream Team De Estados Unidos De Paris 2024";
}
<h1>@ViewData["Title"]</h1>

<main>
    <section>
        <p>
            El equipo de Estados Unidos de baloncesto confirmo el miercoles 17 de abril la nomina de 12 jugadores que
            competirán en los Juegos Olimpicos de París 2024, entre los que destacan son Lebron James y Kevint Durant,
            dos de los máximos referentes del seleccionado.
        </p>
        <p>
            El Dream Tema de USA va con todo en la proxima edicion de la competencia, con un roster preparado por el director
            general de la selección nacional massculina, Grant Hill, y aprobado por la Junta Directiva.
        </p>
        <p>
            Cabe a destacar que en la historia de los Juegos Olímpicos en este deporte, La seleccion de Baloncesto de
            Estados Unidos es la mäs Ganadora. A lo largo de las diferentes ediciones, ha conseguido 16 oros, 1 plata y 2 bronces.
        </p>
        <p>
            Pero además de las dos estrellas mencionadas, Estados Unidos contará con unas cuantas figuras en París 2024,
            como por ejemplo con Stephen Curry y Bam Adebayo, entre otros Jugadores.
        </p>
    </section>
    <section>
        <img src="https://pbs.twimg.com/media/GLXhTgRXAAA12Cc?format=jpg&name=900x900">
        <figcaption>Seleccion de Estado Unidos</figcaption>
        <h2>Lista de convocados</h2>
        <ul>
            <li>Stephen Curry</li>
            <li>Jrue Holiday</li>
            <li>Tyrese Haliburton</li>
            <li>Devin Booker</li>
            <li>Kevin Durant</li>
            <li>Anthony Edwards</li>
            <li>LeBron James</li>
            <li>Jayson Tatum</li>
            <li>Kawhi Leonard</li>
            <li>Joel Embiid</li>
            <li>Anthony Davis</li>
            <li>Bam Adebayo</li>
        </ul>

    </section>
</main>

