@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
   <h1>Bienvenido al Inventario</h1>
</div>

<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm8H90sU3YbEwnSwicBkOB4Bihd4C-CDwcGA&s" alt="Imagen Inventario" />
</div>
