@{
    ViewData["Title"] = "Marcas";
}
@model IEnumerable<Inventario.Models.Marca>


<h1>Marcas</h1>
<div class="mb-3">
    <a class="btn btn-primary nav-link text-dark" asp-area="" asp-controller="Marcas" asp-action="CrearMarca">Agregar Marca</a>
</div>
<table class="table">

    <thead>
        <tr>
            <td scope="Col">Id</td>
            <td scope="Col">Nombre</td>
            <td scope="Col">Pais de Origen</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var marca in Model)
        {
            <tr>
                <th scope="row">@marca.Id</th>
                <td>@marca.Nombre</td>
                <td>@marca.PaisOrigen</td>
            </tr>
        }
    </tbody>
</table>
 