@{
    ViewData["Title"] = "Clientes";
}
@model IEnumerable<Inventario.Models.Cliente>


<h1>Clientes</h1>
<div class="mb-3">
    <a class="btn btn-primary nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="CrearCli">Agregar Cliente</a>
</div>
<table class="table">

    <thead>
        <tr>
            <td scope="Col">Id</td>
            <td scope="Col">Nombre Completo</td>
            <td scope="Col">Email</td>
            <td scope="Col">Numero</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var cliente in Model)
        {
            <tr>
                <th scope="row">@cliente.Id</th>
                <td>@cliente.NombreCompleto</td>
                <td>@cliente.Email</td>
                <td>@cliente.Numero</td>
            </tr>
        }
    </tbody>
</table>